#### 1. What are the characteristics of tuple and is tuple immutable?

Tuples are:

    1.Tuples are immutable
    2.Tuples are indexed
    3.Tuples are ordered.
    4.Tuples can have dupliacte values
Tuples are immutable ,their values can not be assigned as in list.

#### 2.What are the two tuple methods in python?Give an example of each.Give a reason why tuples have only two in-built methods as compared to list?

The two tuple methods are:index() and count().

In [1]:
tup=(1,2,3,4,5,'country')

In [2]:
#shows number 4 is in index 3 position
tup.index(4)

3

In [3]:
tup=(1,2,3,1,234,4,1,3)

In [5]:
#shows 1 is repeated 3 times in the tuple.
tup.count(1)

3

There are only 2 built in methods in tuple because,they are immutable.The other methods that can add,remove cannot be performed with tuples ,since the items in the tuples cannot be assigned.

#### 3.Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.

Set is datatype which do not allow duplicates.

In [8]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

#### 4.Explain the difference between the union() and update() methods for a set. Give an example of each method.

The update() method, adds all missing elements to the set on which it is called whereas union() creates a new set.

In [10]:
set1={1,2,3,4}
set2={5,6,7,8}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
set1={1,2,3,4}
set2={5,6,7,8}
set3=set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8}

#### 5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

    Dictionaries are used to store data values in key:value pairs.
    Dictionaries are written with curly brackets
    Dictionary items are ordered, changeable, and does not allow duplicates.
    Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [21]:
#example
dict={1:'apple',2:'orange',3:'mango'}
dict

{1: 'apple', 2: 'orange', 3: 'mango'}

#### 6.Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes, we can create nested dictionaries.Nesting Dictionary means putting a dictionary inside another dictionary.

In [29]:
dict={'dict1':{1:'apple',2:'orange',3:'mango'},
       'dict2':{'name':'apple','item':'fruit'},
      }

In [30]:
type(dict)

dict

#### 7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [4]:
dict1 = {}
dict1.setdefault('topics', []).extend(['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'topics': ['Python', 'Machine Learning', 'Deep Learning']}

#### 8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

The three view objects of dictionary in python are keys, values and items. They provide a non-constant view of the dictionary's entries.

In [17]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [18]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [19]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [20]:
dict1.pop('Sport')

'Cricket'