#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be stored, organized, and retrieved in a way that makes it easy to search and manipulate the data. Databases are used to store data for various applications, such as websites, mobile apps, enterprise software, and more.

SQL

    SQL (Structured Query Language) databases are relational databases that store data in tables with rows and columns. They use SQL to query and manipulate the data. SQL databases are great for applications that require transactions, such as banking, e-commerce, and accounting systems, where data consistency is critical. Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
NoSQL

    NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that store data in various ways, such as key-value pairs, document-oriented, graph, or column-family data stores. NoSQL databases are highly scalable and flexible, making them ideal for applications that handle big data or require high availability, such as social media, gaming, and IoT (Internet of Things) systems. Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Amazon DynamoDB.

In summary, SQL databases are best suited for applications that require transactions and data consistency, while NoSQL databases are more appropriate for applications that require high scalability and flexibility.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define the structure of the database, including creating, modifying, and deleting database objects such as tables, indexes, and constraints.

The following are some of the commonly used DDL statements and their uses:

CREATE: The CREATE statement is used to create a new database object, such as a table or an index. For example, the following statement creates a new table named "customers" with columns for the customer ID, name, and email address:

    CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);

DROP: The DROP statement is used to delete a database object, such as a table or an index. For example, the following statement drops the "customers" table:

    DROP TABLE customers;

ALTER: The ALTER statement is used to modify the structure of a database object, such as adding or removing columns from a table. For example, the following statement adds a new column named "phone" to the "customers" table:

    ALTER TABLE customers ADD phone VARCHAR(20);

TRUNCATE: The TRUNCATE statement is used to delete all rows from a table without deleting the table structure itself. For example, the following statement removes all data from the "customers" table:

    TRUNCATE TABLE customers;

#### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is used to retrieve data from the database. The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables based on specified conditions.

The basic syntax of the SELECT statement is as follows:
    
    SELECT column1, column2, ... FROM table_name WHERE condition;
    
In this syntax, column1, column2, and so on, are the names of the columns to retrieve data from, and table_name is the name of the table to retrieve data from. The WHERE clause specifies the condition that the data must meet to be retrieved.

For example, consider the following table named "employees" with columns for employee ID, name, department, and salary:

    +----+-----------+-------------+--------+
    | ID | Name      | Department  | Salary |
    +----+-----------+-------------+--------+
    | 1  | John Doe  | Marketing   | 50000  |
    | 2  | Jane Smith| Accounting  | 60000  |
    | 3  | Bob Brown | IT          | 70000  |
    | 4  | Amy Green | Marketing   | 55000  |
    | 5  | Tom White | IT          | 65000  |
    +----+-----------+-------------+--------+

To retrieve all the data from the "employees" table, we can use the following SELECT statement:

    SELECT * FROM employees;
    
This statement retrieves all the columns and rows from the "employees" table, as shown below:

    +----+-----------+-------------+--------+
    | ID | Name      | Department  | Salary |
    +----+-----------+-------------+--------+
    | 1  | John Doe  | Marketing   | 50000  |
    | 2  | Jane Smith| Accounting  | 60000  |
    | 3  | Bob Brown | IT          | 70000  |
    | 4  | Amy Green | Marketing   | 55000  |
    | 5  | Tom White | IT          | 65000  |
    +----+-----------+-------------+--------+
    
We can also retrieve specific columns by specifying their names in the SELECT statement, as shown in the following example:

    SELECT Name, Department FROM employees;
    
This statement retrieves only the "Name" and "Department" columns from the "employees" table, as shown below:

    +-----------+-------------+
    | Name      | Department  |
    +-----------+-------------+
    | John Doe  | Marketing   |
    | Jane Smith| Accounting  |
    | Bob Brown | IT          |
    | Amy Green | Marketing   |
    | Tom White | IT          |
    +-----------+-------------+

Briefly,SELECT is a DQL statement used to retrieve data from one or more tables based on specified conditions. It retrieves data from specific columns or all columns, depending on the specified query

#### Q5. Explain Primary Key and Foreign Key.

##### PRIMARY KEY

A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It is used to ensure that each row in the table has a unique identifier and that the table is not duplicated. The primary key is used as a reference for other tables in the database. The values in the primary key column(s) must be unique, and they cannot be null. In most cases, a primary key is created automatically when a table is created, and it is often represented as an index on the table.

For example, consider a table named "students" with columns for student ID, name, and email address. If we want to ensure that each student has a unique identifier, we can make the "student ID" column the primary key:

    CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
    );

###### FOREIGN KEY

A foreign key, on the other hand, is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. The foreign key is used to enforce referential integrity, which ensures that the data in the child table (the table with the foreign key) is consistent with the data in the parent table (the table with the primary key).

For example, consider a second table named "grades" with columns for grade ID, student ID, course, and grade. We can use the "student ID" column in the "grades" table as a foreign key that references the primary key in the "students" table:

    CREATE TABLE grades (
    grade_id INT PRIMARY KEY,
    student_id INT,
    course VARCHAR(50),
    grade VARCHAR(2),
    FOREIGN KEY (student_id) REFERENCES students(student_id)
    );

This statement creates a foreign key relationship between the "student_id" column in the "grades" table and the "student_id" column in the "students" table. This ensures that any data in the "grades" table that references a student in the "students" table is valid and that there are no inconsistencies.

In summary, a primary key is used to uniquely identify rows in a table, while a foreign key is used to establish a relationship between tables by referencing the primary key in another table. The primary key is used to enforce data consistency and integrity, while the foreign key is used to ensure that data in related tables is consistent.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect to MySQL from Python, we can use the mysql-connector module. Here's an example code snippet to connect to MySQL and execute a simple query:

    import mysql.connector

    # Establish a connection to the database
    mydb = mysql.connector.connect(
      host="localhost",
      user="yourusername",
      password="yourpassword",
      database="yourdatabase"
    )

    # Create a cursor object to interact with the database
    mycursor = mydb.cursor()

    # Execute a simple query
    mycursor.execute("SELECT * FROM yourtable")

    # Fetch the results of the query
    results = mycursor.fetchall()

    # Display the results
    for row in results:
      print(row)

In the code above, we first import the mysql.connector module and then use the mysql.connector.connect() method to establish a connection to the MySQL server. We pass in the required parameters, such as the host name, username, password, and database name.

Next, we create a cursor object using the cursor() method of the connection object. A cursor is used to execute database queries and retrieve results.

After creating the cursor object, we execute a simple query using the execute() method of the cursor object. In this case, we're executing a SELECT statement to retrieve all rows from a table.

We then use the fetchall() method to retrieve all the rows returned by the query and store them in the results variable. Finally, we loop through the results and display each row using the print() statement.

The execute() method is used to execute a SQL query or statement. It takes one parameter, which is the SQL query to execute. The cursor() method returns a cursor object, which is used to execute the query and retrieve results.

The fetchall() method is used to retrieve all rows returned by a query, while the fetchone() method is used to retrieve a single row. There are other methods available for fetching results, depending on the specific requirements of the query.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in a specific order. The order of execution is as follows:

    FROM: This clause specifies the table or tables from which the data is to be retrieved.

    JOIN: If the query involves multiple tables, the JOIN clause is used to join them based on a specified condition.

    WHERE: This clause is used to filter the data based on specific conditions.

    GROUP BY: This clause is used to group the data by one or more columns.

    HAVING: This clause is used to filter the groups created by the GROUP BY clause based on specific conditions.

    SELECT: This clause is used to select the columns to be retrieved from the table or tables specified in the FROM clause.

    DISTINCT: This clause is used to retrieve only unique values from the selected columns.

    ORDER BY: This clause is used to sort the retrieved data based on one or more columns.

    LIMIT: This clause is used to limit the number of rows returned by the query.

It is important to note that not all of these clauses are required in every SQL query. The clauses that are included in a query will depend on the specific requirements of the query. Additionally, some database systems may allow for the use of additional clauses or may have a slightly different order of execution.